body{
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.container{
    width: 1350x;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



header{
    padding: 10px 0px;
    box-shadow: 0px 15px 10px rgb(177, 173, 173);
}

.header_logo{
    width: 100px;
    height: auto;
}

.logo_support{
    margin-left: 10px;
    margin-top: 1px;
    font-size: 22px;
    color: rgb(78, 78, 78);
}

.header_nav{
    width: 250px;
    margin-left: 50px;
    margin-top: 5px;

}

.header_nav a{
    text-decoration: none;
    color: rgb(82, 82, 82);
    margin: 0px 15px;
}

.header_nav a:hover{
    color: black;
}

.header_btn{
    margin-left: 400px;
    width: 450px;
}

.header_btn a{
    margin: 10px 15px;
    text-decoration: none;
     font-size: 18px;
     padding: 10px 15px;
     border-radius: 5px;
}

.header_btn_one{
    color: dodgerblue;
}

.header_btn_one:hover{
    color: rgb(22, 100, 177);
    background-color: rgb(233, 233, 233);
}

.header_btn_two{
    background-color: dodgerblue;
    color: white;
}

.header_btn_two:hover{
    background-color: rgb(11, 85, 160);
}

/*start of title */

.title_one{
    width: 40%;
    padding: 25px;
}

.title_one h1{
    font-size: 75px;
}

.title_two{
    width: 50%;
    margin: auto;

}

.title_two video{
    width: 80%;
    margin: 10%;
}

/*support section */

.support{
    background-color: rgb(243, 243, 243);
    margin-top: 75px;
    border-top: 1px solid rgb(216, 214, 214);
    border-bottom: 1px solid rgb(216, 214, 214);
}

.support_box{
    width: 28%;
    padding: 30px;
    margin: 0px auto;
}

.support_box h3{
    font-size: 25px;
    font-weight: 400;
}

.support_box p{
    font-weight: 200;
}

.underline_1{
    width: 30px;
    height: 5px;
    background-color:dodgerblue ;
    border-radius: 10px;
}

.underline_2{
    width: 30px;
    height: 5px;
    background-color:rgb(230, 230, 42);
    border-radius: 10px;
}

.underline_3{
    width: 30px;
    height: 5px;
    background-color:rgb(6, 175, 6);
    border-radius: 10px;
}

.support_box_border{
    border-left: 1px solid rgb(192, 189, 189);
    border-right: 1px solid rgb(192, 189, 189);
}

.features{
    margin-top: 50px;
}

.features_img{
    width: 20%;
    margin: 0px auto;
}

.features_img img{
    width: 100%;
}

.features_content{
    width: 60%;
    margin: 0px auto;
    text-align: center;
}

.features_content h2{
    font-size: 50px;
}

.features_content p{
    color:rgb(104, 104, 104);
    font-size: 18px;
}

.features_buttons{
    margin-top: 100px;

}

.features_button{
    width: 30%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(179, 174, 174);
}

.features_button a{
    text-decoration: none;
    color: #000;
}

.features_button:hover{
    border-bottom: 3px solid dodgerblue;
}

.features_text{
    margin-top: 150px;
    width: 30%;
    padding: 50px;
    color: rgb(167, 167, 167);
}

.features_video{
    margin-top: 100px;
    width: 60%;
}

.features_video video{
    width: 80%;
    margin: 0px 10%;
}

.account{
    margin-top: 200px;
    margin-bottom: 200px;
}

.account_content{
    width: 35%;
    margin: auto;
}

.account_content h2{
    text-align: center;
    font-size: 40px;
}

.account_content a{
    display: block;
    text-decoration: none;
    color: dodgerblue;
    text-align: center;
    font-size: 20px;
    padding: 15px 25px;
    margin-top: 15px;
    font-weight: 500;
}

.account_content .login{
    background-color: dodgerblue;
    color: white;
    width:50%;
    margin: auto;
    border-radius: 10px;

}

.login:hover{
    background-color: rgb(17, 117, 218);
}

 .login_me:hover{
     color: rgb(21, 106, 190);
 }

 .footer{
     padding: 30px 0px;
     background-color: rgb(222, 225, 226);
 }

.footer h3{
    font-size: 28px;
    color: rgb(138, 136, 136);
}

.footer_nav{
    padding: 35px 10px ;
    margin-left: 30px;
}

.footer_nav a{

    text-decoration: none;
    color: rgb(83, 82, 82);
    font-size: 18px;
    margin: 5px 15px;
}

.footer_nav a:hover{
    color: #000;
}

.footer_help{
    width: 25%;
    padding: 35px 10px;
    margin-left: 400px;
    font-size: 18px;
    color: rgb(134, 134, 134);
}


.footer_help small{
    margin-right: 20px;
}