body{
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.container{
    width: 1350px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    padding: 10px 0px;
}

.header_logo{
    width: 40px;
    height: auto;
}

.logo_support{
    margin-left: 5px;
    font-size: 22px;
}